* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 18px;
}
html,
body {
    background-color: black;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #FFFFFF;
    min-width: 385px;
    min-height: 188px;
    width: 100%;
    height: 100%;
    font-family: Verdana;
}
#background {
    z-index: 0;
    position: fixed;
}
#foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#background {
    background-color: black;
}
#top {
    position: fixed;
    height: 80px;
    width: 100%;
    font-size: 18px;
    min-width: 385px;
    z-index: 10;
}
#top + div {
    margin-top: 80px;
}
#topleft {
    color: #000000;
    float: left;
    height: 0;
    width: 45%;
    margin-bottom: 10px;
    border-bottom: 70px solid #FFFFFF;
    border-right: 35px solid transparent;
    padding: 0;
}
#topright {
    color: #000000;
    float: right;
    height: 0;
    width: 45%;
    margin-bottom: 10px;
    border-bottom: 70px solid #FFFFFF;
    border-left: 35px solid transparent;
}
#textleft {
    padding: 0;
    text-align: center;
}
#textright {
    text-align: center;
}
@media (max-width: 862px) {
    #topleft {
        min-width: 388px;
        color: #000000;
        float: left;
        height: 0;
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 70px solid #FFFFFF;
        border-right: 35px solid transparent;
        padding: 0;
    }
    #topright {
        visibility: hidden;
    }
}