@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Allgemeines CSS */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    margin-top: 10%;
    text-align:center;
}

/* Button Style */
button {
	display:block;
	box-sizing: border-box;
	width: 130px;
	margin:5px;
	padding:2px;
	line-height: 1.5;
	text-align:center;
	background-color:  rgba(230,230,230,0.8);
	border-radius: 4px; 
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
	font-weight: bold;
	color: buttontext;
	float:left;
}

button:hover {
	box-shadow: 0 0 3px 1px rgba(0,0,0,1)
}

button:active {
	box-shadow:
		inset 0px 0px 4px rgba(0,0,0,0.2),
		inset 0px 1px 1px rgba(0,0,0,0.2),
		0px 1px white;
	text-shadow:0px 0px 0px #aaa;
}

/* Wrap für das ganze Spielfeld */
#wrap{
    position:absolute; /* Wichtig für absolute Anzeige der Spielelemente */
    background-image: url(../pics/background.jpg);
    background-position: center;
    background-size: contain;
    background-repeat:  no-repeat;
    width:100%;
    height:100%;
}

/* Style Menu*/

#credit{
    line-height: 1.5;
	text-align: center;
	color: #222;
}

#hwrap{
    margin: 0 auto;
    width:120px;
}

.lifeWrap{
    float:left;
    width:33%;
    min-width:120px;
}

.heart{
    width:24px;
    height:24px;
    background-size: contain;
    float:right;
}

.hon{
    background-image: url(../pics/powerup_heart.png);
}

.hoff{
    background-image: url(../pics/powerup_heart_empty.png); 
}

.menu{
    margin: 0 auto;
}

.right {
	float:right;
	width:33%;
	text-align: right;
	min-width:120px;
}

.left {
	float:left;
	width:33%;
	min-width:50px;
}

.clear {
	clear: both; 
	overflow: hidden;
	height: 0;
	width: 0;
}

.info{
    position:relative;
    width:96%;
    height:96%;
    background-color: rgba(255,255,255,0.7);
    padding:2%;
    text-align:center;
    z-index:5;
    overflow: auto;
}

.info .prev{
    position: relative;
    width:20px;
    height:20px;
    float:left;
}

/* Spielfeld Style */

#field{  
    position:relative;/* Wichtig für absolute Anzeige der Spielelemente */
    margin: auto;
    background-image: url(../pics/bg_game.jpg);
    background-size: cover;
    border: 1px black solid;
    clear:both;
    overflow:hidden;
}

.block, .powerup_heart, .player, .powerup_bomb, .powerup_coin, .powerup_lightning{
    position: absolute;
    background-size: contain;
    z-index:1;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}

.yellow{
    background-color: yellow;
}

.white{
    background-color: white;
}

.player{
    background-image: url(../pics/player.png);
}

.block {
    background-image: url(../pics/block.png);
}

/* Höherwertiges CSS um .block zu überschreiben bei den Powerups */
#field .powerup_heart {
    background-image: url(../pics/powerup_heart.png);
}

#field .powerup_bomb {
    background-image: url(../pics/powerup_bomb.png);
}

#field .powerup_coin {
    background-image: url(../pics/powerup_coin.png);
}

#field .powerup_lightning {
    background-image: url(../pics/powerup_lightning.png);
}
/*
Notiz Bildquellen:
Hintergrundbild:  http://vecto2000.com/cube-vector-background/
Spielfigur: http://www.iconarchive.com/show/character-icons-by-martin-berube/Kid-icon.html
Bombe: http://www.iconarchive.com/show/oxygen-icons-by-oxygen-icons.org/Actions-edit-bomb-icon.html
Coin: http://www.iconarchive.com/show/pretty-office-11-icons-by-custom-icon-design/coin-us-dollar-icon.html
Herz: http://www.iconarchive.com/show/free-large-love-icons-by-aha-soft/Heart-icon.html
blitz: http://www.iconarchive.com/show/weather-icons-by-custom-icon-design/lightning-icon.html
Spielfeld Hintergrund: http://xoo.me/template/details/8063-white-gallery-hall-with-spotlights-background-jpg
Kisten Textur: by Chris Deter

*/
