#foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#background {
    background-color: black;
}
.content {
    width: 100%;
}
.centered {
    width: 90%;
    margin: auto;
}
.hidden {
    visibility: hidden;
}
form input {
    width: 50px;
    margin: 20px;
    display: table-cell;
}
form select {
    margin: 20px;
    display: table-cell;
}
form label {
    width: 30%;
    display: table-cell;
}
#params {
    float: right;
    width: 60%;
}
#main {
    margin-left: 10%;
    width: 30%;
    float: left;
}
#save {
    margin-left: 10%;
    width: 30%;
    float: left;
}
#submit {
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
}
.settingsrow {
    display: table-row;
}
@media (max-width: 799px) {
    .hidden{
        display: none;
    }

    #params {
        margin-left: 10%;
        float: left;
        width: 80%;
    }
    #main {
        width: 80%;
    }
    #save {
        width: 80%;
    }
}